* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(213, 241, 232);
}

/*Menu Header*/
.header {
  margin-top: 90px;
  font-family: sans-serif;
}

.header-container {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.header-container input {
  display: block;
  margin-bottom: 10px;
  margin-top: 3px;
  padding: 5px;
}

/*Conteudo da Seção texto*/
.container {
  margin-top: 90px;
  margin-bottom: 50px;
}

.container-content {
  padding: 20px;
  background-color: #fff;
  width: 700px;
  margin: 0 auto;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.content {
  font-size: 16px;
  line-height: 24px;
}
